.d-block{
width: 80%;
height: 80%;
position: center;
margin: auto;
margin-top: 10px;
}

.button1{
    z-index: 5;
}


.chat-box__sign {
    font-size: 9px;
    line-height: 20px;
    color: #b5b5b5;
}


#chat-circle,
.chat-msg.bot>.msg-avatar {

    background-image: linear-gradient( to center, rgb(100, 100, 100), rgb(255, 255, 255));
}


.spiner > *  {
    background: rgb(0, 0, 0);
}

#chat-circle {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: white;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.5), 0 3px 1px -2px rgba(246, 72, 72, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}


.chat-circle_robot {
    height: 50px;
}
