* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body {
min-width: 320px;
min-height: 100vh;
background-image: url("https://image.freepik.com/free-photo/wooden-board-empty-table-top-blurred-background_1253-1584.jpg");
background-repeat:no-repeat;
background-size:cover;
background-position:center;
overflow: hidden;
}

div {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%,0%);
    width: 70%;
    height: 30%;
}
.example{
position: absolute;
/* background-color: blue; */
height: 80%;
width: 100%;
font: 10px;
}
input{
    position: absolute;
    background-color: white;
    color: white;
    left: 50%;
    top: 5%;
    transform: translate(-50%,0%);
    font-size: 15px;
    width: 95%;
    height: 30%;
}
button{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
width: 30%;
height: 30%;
}
img.robot {
    position: absolute;
    left: 1%;
    top: 70%;
    height: 27%;
}
#speech-bubble {
    position: absolute;
    top: 35%;
    left: 60%;
    width: 70%;
    font: 2px;
    border: solid 1px 1px;
    background:#d5d8ff;
    border-radius: 50%;
    
 }
 #speech-bubble p {
     padding: 10%;
     
 }

 @media (orientation: landscape)
 {
input{
width: 70%;
height: 40%;
}
button{
margin-top: 2%;
width: 40%;
height: 40%;
}
#speech-bubble {
    font-size: 15px;
}
img.robot {
    height: 35%;
    top: 60%;
}

 }
